.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline-block;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#admin {
    color: Red;
}

/* form-signin */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

/* Avatar */



.UserAvatarEditor {
  cursor: pointer;
  position: relative;
}

.UserAvatar {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 8px;
}

.UserAvatar-inner {
  vertical-align: top;
}

.UploadPicture-wrapper {
  cursor: pointer;
}

.Avatar--large {
  border-radius: 4px;
}

.Avatar {
    background: #fff;
    border-radius: 2px;
}

#avatar {
  appearance: initial;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-align: start !important;
  padding: initial;
  border: initial;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  margin: 0em;
  font: 400 13.3333px Arial;
  display: none;
}

.UploadPicture-input {
  display: none;
}
